<!-- header -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="'/login'">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button class="nav-link" [routerLink]="'positions/{{this.getField()}}'">🎯 {{getField()}}</button>
            </li>
            <li class="nav-item">
                <a class="nav-link">👌🏻 {{currentUser?.cVsSentsAmount +' cvs' || 'CVs Sents Amount'}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">👤 {{currentUser?.userName||'no connect' }}</a>
            </li>
        </ul>
    </div>
</nav>

<!-- fotter -->
<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">© 2024 job serarch</span>
    </div>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" target="_blank">👨🏻‍💼 Sara Chizkiyahu </a>
        </li>
        <li class="nav-item">
            <!-- <a class="nav-link" href="mailto:sarach1548@gmail.com" target="_blank">📧 sarach1548@gmail.com</a> -->
        </li>
        <li class="nav-item">
            <a class="nav-link" href="tel:0527150581">📞 052-7150581</a>
        </li>
    </ul>
</footer>