<!-- fotter -->
<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">© 2024 job serarch</span>
    </div>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" target="_blank">👨🏻‍💼 Shoshi Bnayahu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="mailto:s0556722535@gmail.com" target="_blank">📧 sarach1548gmail.com</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="tel:0556722535">📞 055-6722535</a>
        </li>
    </ul>
</footer>